@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<h3>@ViewData["ProjectName"]</h3><br><br>

<h3>@ViewData["Message"]</h3>

<p>Created by @ViewData["Creator"]</p>
<address>
    <strong>Contact me at my</strong> <a href="mailto:hlcs@gmail.com">Gmail.</a><br>
</address>
